<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="MysqlImpl" class="com.NATE.dao.UserDaoMysqlImpl"/>
    <bean id="Lmpl" class="com.NATE.dao.UserDaoImpl"/>

    <!-- ref: 引用Spring容器的创建好的对象
         value：具体的值，基本的数据类型
    -->
    <bean id="ServiceImpl" class="com.NATE.service.UserServiceImpl">
        <property name="userdao" ref="MysqlImpl"/>
    </bean>

</beans>